:root {
  scroll-behavior: smooth;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
  width: 100%;
}

a {
  color: #ffcc00;
  text-decoration: none;
}

a:hover {
  color: #ffd11a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}


