{% load static %}

  <!-- ======= Header ======= -->
  <header id="header" class="header">

    <div>
      <a href="{% url 'home' %}" class="logo">
        <img src="{% static 'assets/img/favicon.png' %}" alt="">
        <span>African Wildlife</span>
      </a>
    </div>

    <!-- <nav class="navbar">
      <ul>
        <li><a href="{% url 'home' %}">Predict</a></li>
        <li><a href="{% url 'home' %}">Team</a></li>
        <li><a href="{% url 'home' %}">About</a></li>
      </ul>
    </nav> -->

  </header><!-- End Header -->